*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    background-color: #000022;
    width: 100vw;
}

.Lista-filmes{
    margin: 15px;
}

.Lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000022;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.Lista-filmes strong{
    padding-bottom: 15px;
    font-size: 22px;
    color: white;
}

.Lista-filmes img{
    width: 600px;
    max-height: 320px;
}

.Lista-filmes article a {
    text-decoration: none;
    color: white;
    background-color: #00b8f5;
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding: 10px 0 ;
    transition: 0.2s all ease;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 500px){
    .Lista-filmes img{
        width: 400px;
        padding: 0px 10px;
    }

    .Lista-filmes article a{
        width: 380px;
    }
}

